/ クレジット情報がなけば、新規登録ボタンのみ表示
= current_user.nickname + "のマイページ編集画面です"
%br
= link_to "クレジット情報を新規登録する", edit_user_credit_path(current_user.id)

/ クレジット情報があれば、新規登録画面を表示しないようにする

/ クレジット情報があれば、その情報を表示した上で編集ページを作成する必要がある
/ クレジット情報があるかどうかをDBから取得しなければならないので難易度高め
/ creditsテーブルに、対応するuser_idがあるかどうかで判断すればよさそう
