.main__itemDisplay
  .main__itemDisplay__box
    = link_to "", new_item_path, class: "main__itemDisplay__box--link"
    .main__itemDisplay__box__text
      出品する
    .main__itemDisplay__box__icon
      = image_tag asset_path('icon_camera.png'), class: "main__itemDisplay__box__icon--image"