%section.pickupBrand
  %h2.head ピックアップブランド
  .productBox
    .productBox__Head
      %a{:href => "#"}
        %h3.title アーカイバ
    .productBox__Lists
      .productList
        =render @items
      .productList
        %a{:href => "/products/3"}
          %figure.productList--img
            = image_tag asset_path('sample2.png')
          .productList--body
            %h3.name product3
            .details
              %ul
                %li 30000円
                %li
                  %i.fa.fa-star.likeIcon 0
              %p (税込)
      .productList
        %a{:href => "/products/2"}
          %figure.productList--img
            = image_tag asset_path('sample3.png')
          .productList--body
            %h3.name product2
            .details
              %ul
                %li 20000円
                %li
                  %i.fa.fa-star.likeIcon 0
              %p (税込)
      .productList
        %a{:href => "/products/1"}
          %figure.productList--img
            = image_tag asset_path('sample4.png')
          .productList--body
            %h3.name product1
            .details
              %ul
                %li 10000円
                %li
                  %i.fa.fa-star.likeIcon 1
              %p (税込)
