.users{
  width: 100%;
  padding: 0;
  background-color: #F5F5F5;
  &__container{
    width: 700px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F5F5F5;
    &__top{
      background-color: white;
      padding: 32px;
      text-align: center;
      font-size: 22px;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      font-weight: bold;
      color: #333;
      border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
    }
    &__bottom{
      background-color: white;
      border-top: 1px solid #f5f5f5;
      padding: 40px 40px 64px;
      border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
      &__center{
        background-color: white;
        width: 343px;
        margin: 0 auto;
        &__card{
          &:first-of-type{
            background-color: white;
            margin: 0;
          }
          background-color: white;
          margin: 32px 0px 0px;
          position:relative;
          &--label{
            width: 83.45px;
            height: 14px;
            font-size: 14px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            font-weight: bold;
            color: #333;
          }
          &--input{
            width: 340px;
            height: 48px;
            padding: 10px 16px 8px;
            margin: 8px 0px 0px;
            border-radius: 4px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            color: #333;
            &--half{
              width: 165.5px;
              height: 48px;
              padding: 10px 16px 8px;
              margin: 8px 0px 0px;
              border-radius: 4px;
              border: 1px solid #ccc;
              line-height: 1.5;
              font-size: 16px;
              &--left{
                width: 165.5px;
                height: 48px;
                padding: 10px 16px 8px;
                margin: 8px 7px 0px 0px;
                border-radius: 4px;
                border: 1px solid #ccc;
                line-height: 1.5;
                font-size: 16px;
              }
            }
          }
          &--year{
            position:absolute;
            bottom: 4px;
            left: 80px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            color: #333;
          }
          &--month{
            position:absolute;
            bottom: 4px;
            left: 180px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            color: #333;
          }
          &--day{
            position:absolute;
            bottom: 4px;
            left: 280px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            color: #333;
          }
          &--required{
            position: absolute;
            width: 32px;
            height: 19px;
            text-align:center;
            right: 2px;
            top: 0px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            color: white;
            background-color: #3CCACE;
            padding: 2px 4px;
            font-size:12px;
            border-radius: 3px;
            line-height: 19px;
          }
          &--any{
            position: absolute;
            width: 32px;
            height: 19px;
            text-align:center;
            right: 2px;
            top: 0px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            color: white;
            background-color: #888;
            padding: 2px 4px;
            font-size:12px;
            border-radius: 3px;
            line-height: 19px;
          }
          &--submit{
            background-color: #3CCACE;
            border: 1px solid #3CCACE;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            color: white;
            font-size: 14px;
            border-radius: 4px;
            margin-top:32px;
            width: 100%;
            height: 48px;
            cursor: pointer;
            text-align: center;
            line-height: 48px;
          }
        }
      }
    }
  }
}

.error{
  width: 343px;
  margin: 0 auto;
  &__article{
    font-size: 16px;
    color: red;
  }
  &__container{
    &__card{
      font-size: 11px;
      color: #333;
      text-align: left;
    }
  }
}

#user_birthday_1i, #user_birthday_2i, #user_birthday_3i, {
  width: 76px;
  height: 48px;
  padding: 0 10px;
  margin-top: 8px;
  margin-right:20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}
